.about-me {
  &__box {
    background: white;
  }
  &__name {
    font-family: "Sacramento", cursive;
    font-size: 2rem;
    margin-top: 15px;
    @include media-breakpoint-down(sm){
      font-size: 2rem;
      text-align: center;
    }
  }
  &__description {
    text-align: right;
    @include media-breakpoint-down(sm){
      text-align: center;
    }
  }
  .avatar {
    width: 180px;
  }
  .social-media {
    background: #4b4b4b;

    &__primary {
      color: #4b4b4b;
      border-radius: 50%;
      padding: 5px;
      position: relative;
      font-size: 20px;
    }
    a {
      position: relative;
    }
    .fa-circle {
      color: white;
      position: absolute;
      left: -4px;
      top: 1px;
      z-index: 0;
      font-size: 35px;
    }
  }
  .education {
    &__icon {
      position: absolute;
      top: 0;
      left: 47%;
      right: 47%;
      background: theme-color('primary');
      border-radius: 50%;
      width: 45px;
      height: 45px;
      text-align: center;
      padding: 4px 5px;
      color: white;
    }
    &__hr{
      border-top: 2px solid theme-color('primary');
    }
  }
}
